In [26]:
import pandas as pd

In [28]:
csv_path = "HPI_master.csv"
hpi_data = pd.read_csv(csv_path)
hpi_data.head(10)

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.99,101.07
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.36,101.00
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.75,101.05
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.39,101.44
5,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,6,102.82,101.56
6,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,7,103.02,101.94
7,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,8,103.18,102.12
8,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,9,102.87,102.05
9,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,10,103.09,102.40

In [32]:
clean_hpi = hpi_data[["place_name", "yr", "period", "index_nsa", "index_sa"]]
clean_hpi.head(10)

                    place_name    yr  period  index_nsa  index_sa
0  East North Central Division  1991       1     100.00    100.00
1  East North Central Division  1991       2     100.99    101.07
2  East North Central Division  1991       3     101.36    101.00
3  East North Central Division  1991       4     101.75    101.05
4  East North Central Division  1991       5     102.39    101.44
5  East North Central Division  1991       6     102.82    101.56
6  East North Central Division  1991       7     103.02    101.94
7  East North Central Division  1991       8     103.18    102.12
8  East North Central Division  1991       9     102.87    102.05
9  East North Central Division  1991      10     103.09    102.40

In [35]:
renamed_hpi = clean_hpi.rename(columns={"place_name": "Place Name",
                                                "yr": "Year",
                                                "period": "Month",
                                                "index_nsa": "NSA Index",
                                                "index_sa": "SA Index"})
renamed_hpi.head(10)

                    Place Name  Year  Month  NSA Index  SA Index
0  East North Central Division  1991      1     100.00    100.00
1  East North Central Division  1991      2     100.99    101.07
2  East North Central Division  1991      3     101.36    101.00
3  East North Central Division  1991      4     101.75    101.05
4  East North Central Division  1991      5     102.39    101.44
5  East North Central Division  1991      6     102.82    101.56
6  East North Central Division  1991      7     103.02    101.94
7  East North Central Division  1991      8     103.18    102.12
8  East North Central Division  1991      9     102.87    102.05
9  East North Central Division  1991     10     103.09    102.40

In [42]:
renamed_hpi.head(10)

                    Place Name  Year  Month  NSA Index  SA Index
0  East North Central Division  1991      1     100.00    100.00
1  East North Central Division  1991      2     100.99    101.07
2  East North Central Division  1991      3     101.36    101.00
3  East North Central Division  1991      4     101.75    101.05
4  East North Central Division  1991      5     102.39    101.44
5  East North Central Division  1991      6     102.82    101.56
6  East North Central Division  1991      7     103.02    101.94
7  East North Central Division  1991      8     103.18    102.12
8  East North Central Division  1991      9     102.87    102.05
9  East North Central Division  1991     10     103.09    102.40

In [45]:
renamed_hpi.diff(axis = 0, periods = 1)

TypeError: unsupported operand type(s) for -: 'str' and 'str'